body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}

ol > li {
    list-style-type: none;
    counter-increment: item;
}

ol > li:before {
    font-weight: bold;
    content: counter(item) ".";
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 46px;
    height: 46px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 46px;
}

.winning-square {
    background: greenyellow;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 46px;
    height: 46px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 46px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}  